[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
transformers = "*"
fastapi = "*"
pydantic = "*"
pillow = "*"
requests = "*"
torch = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
