[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = false
name = "pytorch"

[packages]
numpy = "*"
transformers = "*"
fastapi = "*"
pydantic = "*"
pillow = "*"
requests = "*"
torch = {version="*", index="pytorch"}
uvicorn = {extras = ["standard"] }
timm = "*"
python-multipart = "*"
torchvision = {version="*", index="pytorch"}

[dev-packages]

[requires]
python_version = "3.11"
