.login-form {
  max-width: 300px;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
/*//////////////////////////*/
.label-container p {
  width: 50%;
  margin: 0; 
  padding: 5px;
}

.label-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.labels-titles {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 5px;
  font-weight: bold;
}

.inside-label {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.inside-label p {
  margin: 0;
}

.labels-titles p,
.inside-label p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.inside-label p:last-child {
  color: #007bff;
  font-weight: bold;
}
/*//////////////////////////*/

.preview-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px; /* Adjust the space between images if needed */
}

.preview-image {
  flex: 1; /* Each image container will take up half the modal width */
  
}

.ant-upload {
  width: 150px !important;
  height: 150px !important;
}

.ant-upload-list-item-container {
  width: 150px !important;
  height: 150px !important;
}